.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

html, body {

     padding: 0;
            margin: 0;
            height: 100%;

}

table {
    border: 1px solid #BABABA;
    border-collapse: collapse;
    font: 12px sans-serif;

}

.maindiv {


    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    margin-top:10px;


}

.searchdiv {
    border-color: #FFA800;
    border-width: 2px;
 
    border-style: solid;

}

.foreignobject_parent {
    border-style: solid;
    border-color: #BABABA;
    border-width: 0px;
}


.foreignobject_parent {
    font: 12px sans-serif;
    display: table;
    padding:0px;
    margin: 0px;

}

.foreignobject_child_img, .foreignobject_child_text {
    display: table-cell;
    

}


.foreignobject_child_text {
    vertical-align: middle;
    padding-left: 4px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}


 .foreignobject_child_text {

    text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    2px 2px 0 #fff,
    -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px -2px 0 #fff,
    0px 2px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    1px 2px 0 #fff,
    -1px 2px 0 #fff,
    1px -2px 0 #fff,
    -1px -2px 0 #fff,
    2px 1px 0 #fff,
    -2px 1px 0 #fff,
    2px -1px 0 #fff,
    -2px -1px 0 #fff;
}

.foreignobject_img {
    border-radius: 50%;
}

.stats_card td, .stats_card tr, .stats_card th{

    border: 1px solid #BABABA;
    padding:4px;

}

#svgholder {
  

    min-height: 100px;
    max-height: 1000px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    margin-top:10px;
    overflow: auto; 
    width: 100%
}

svg {
    border: 1px;      
    border-color: #BABABA;  
    border-style: solid;
}

.foreignobj div {
    background-color: rgba(255,255,255,0)
}

.profile_card_img {
    border-radius: 50%;
    height:120px;
    width:120px;
    border: 5px;       
    border-color: #BABABA;      
    border-style: solid;
    padding: 5px ;
    margin: 5px;
}

select {
    visibility: hidden;
}


.select_div {
    margin: 0 auto;
    width: 60%;
    min-width: 1000px;
}


#tips {
    position: absolute;
    font: 12px sans-serif;
    width: 200px;
    margin:10px;
    color: #BCBCBC;


}


.error_report {
    font: 16px sans-serif;
    color: #F90202

}