.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

html, body {

     padding: 0;
            margin: 0;
            height: 100%;

}

.maindiv {


    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    margin-top:10px;


}

.searchdiv {
    border-color: #FFA800
}



.foreignobject_parent {
    font: 12px sans-serif;
    display: table;
    padding:0px;
    margin: 0px;

}

.foreignobject_child_img, .foreignobject_child_text {
    display: table-cell;
    

}



.foreignobject_child_text {
    vertical-align: middle;
    padding-left: 4px;
}


 .foreignobject_child_text {

    text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    2px 2px 0 #fff,
    -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px -2px 0 #fff,
    0px 2px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    1px 2px 0 #fff,
    -1px 2px 0 #fff,
    1px -2px 0 #fff,
    -1px -2px 0 #fff,
    2px 1px 0 #fff,
    -2px 1px 0 #fff,
    2px -1px 0 #fff,
    -2px -1px 0 #fff;
}

.foreignobject_img {
    border-radius: 50%;
}

#svgholder {
  

    min-height: 100px;
  

    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    margin-top:10px;
}

svg {
          border: 2px;      
    border-radius: 8px; 
    border-color: #BABABA;  
    border-style: solid;
 
}

.foreignobj div {
    background-color: rgba(255,255,255,0)
}




.tooltip_parent {
    font: 12px sans-serif;
    display: table;
    
    

}

.tooltip_row {
    display:table-row;
    }

.tooltip_left, .tooltip_right {
    display:table-cell;
    vertical-align: middle;
        margin-left: 10px;
        padding-left: 10px;

    }

.tooltip_child_img, .tooltip_child_text {
    display: table-cell;
    }

.tooltip_p {
    margin-top: 5px;
    
}
    

}

.tooltip_nested {
    width: 50%;
}







.tooltip_child_text {
    vertical-align: middle;
    padding-left: 4px;
}




.tooltip_img {
    border-radius: 50%;
    height:120px;
    width:120px;
    border: 5px;       
    border-color: #BABABA;      
    border-style: solid;
    padding: 5px ;
    margin: 5px;
}



select {
    visibility: hidden;
}


.select_div {
    margin: 0 auto;
    width: 60%;
    min-width: 1000px;
}




#tips {
    position: absolute;
    font: 12px sans-serif;
    width: 200px;
    margin:10px;
    color: #BCBCBC;
    visibility: hidden;

}
